<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Informações usuário</title>
        </head>
    <body style="background-color: #DCDCDC;">
        <h1>Informações usuário</h1>
        <h2><%= request.nome  %></h2>
        <p>E-mail: <%= request.email  %></p>
        <p>Curso: <%= request.curso  %></p>
        <footer style="position: fixed;bottom: 0;width: 98%;background-color: #696969;margin-bottom: 15px;color: white;font-family: monospace; font-size: larger;">
            Copyrigth by aluno 2022
        </footer>
    </body>
</html>